.menu {
  grid-area: s;
  display: flex;
  flex-direction: column;
  width: min-content;

  & > ul {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    gap: 0.3rem;
    width: 11rem;

    li {
      display: flex;
      list-style: none;

      a {
        display: flex;
        gap: 1rem;
        color: var(--color-dark);
        text-decoration: none;
        width: 10rem;
        align-items: center;
        padding: 0.5rem 0.75rem;
        border-radius: 0.75rem;

        &:hover {
          background-color: var(--color-light);
        }
      }
    }

    .active {
      font-weight: bold;
      background-color: var(--color-light);
      border-radius: 0.75rem;
      width: 10rem;
    }
  }
}
